<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [class.large]="(isHandset$ | async) === false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Patterns</mat-toolbar>
    <div class="main-container">
      <app-sidebar></app-sidebar>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>John Conway's Game of Life</span>
      <div class="spacer"></div>
      <a
        aria-label="Game of Life on Wikipedia"
        target="_blank"
        rel="noopener"
        href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"
        title="Wikipedia"
      >
        <img src="assets/wikipedia.svg" class="wiki-logo" />
      </a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
